/** {*/
/*  box-sizing: border-box;*/
/*}*/

/*:root {*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,*/
/*    sans-serif;*/
/*  color: #2d3748;*/
/*  background-color: #fbfaf8;*/
/*  font-synthesis: none;*/
/*  text-rendering: optimizeLegibility;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*body {*/
/*  min-width: 320px;*/
/*  margin: 0;*/
/*  line-height: 1.7;*/
/*}*/

@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  :root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      sans-serif;
    color: #2d3748;
    background-color: #fbfaf8;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    min-width: 320px;
    margin: 0;
    line-height: 1.7;
  }
}